<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<th:block th:insert="sidebar1.html"></th:block>
<div class="container mt-5">
<h3>List of firms</h3>
    <table class="table table-striped w-auto">
        <tr>
            <th>Id</th><th>Name</th><th>Actions</th>
        </tr>
        <tbody>
            <tr th:each="firm: ${firms}">
                <td th:utext="${firm.id}"></td>
                <td th:utext="${firm.name}"></td>
                <td>
                    <form th:action="@{/delete_firm(id=${firm.id})}" th:method="delete" style="margin: 0; padding: 0;">
                        <a href="#" onclick="this.closest('form').submit();return false;" style="display: inline;">Delete</a>
                    </form>
                    &nbsp
                    <a th:href="@{/edit_firm(id=${firm.id})}">Edit</a></td>
            </tr>
        </tbody>
    </table>
<a href="/add_firm">Create firm</a>
</div>
</body>
</body>
</html>