<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Справочник препаратов</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		  integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css"
		  rel="stylesheet">
	<style>

	</style>
</head>
<body>
<div th:fragment="sidebar">
	<header class="py-3 mb-4 border-bottom shadow">
		<div class="container-fluid align-items-center d-flex">
			<div class="px-3">
				<a href="/"><img th:src="@{/img/snake.png}" style="width: 10%;" /></a>
			</div>
			<div class="flex-grow-1 d-flex">
				<h3 class="w-100 me-3 text-decoration-none" style="color: #1a6ff9">Моя домашняя аптечка</h3>
				<div class="flex-shrink-0 dropdown">
					<a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
					   data-bs-toggle="dropdown" aria-expanded="false">
						<img src="https://via.placeholder.com/28?text=!" alt="user" width="32" height="32"
							 class="rounded-circle">
					</a>
					<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2" style="">
						<li><a class="dropdown-item" href="#">Настройки</a></li>
						<li><a class="dropdown-item" href="#">Профиль</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#">Выход</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="container-fluid pb-3 flex-grow-1 d-block flex-column flex-sm-row overflow-auto">
		<div class="row flex-grow-sm-1 flex-grow-0">
			<aside class="col-sm-2 flex-grow-sm-1 flex-shrink-1 flex-grow-0 pb-sm-0 pb-3">
				<div class="bg-light border rounded-3 p-1 h-100">
					<ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate">
						<li class="nav-item">
							<a th:href="@{/medicineChests}" class="nav-link px-2 text-truncate">
								<i class="fa fa-medkit " style="font-size:1.3rem" aria-hidden="true"></i>
								<span class="d-none d-sm-inline px-2" style="font-size:1.1rem">Аптечка</span>
							</a>
						</li>
						<li>
							<a th:href="@{/medicines}" class="nav-link px-2 text-truncate">
								<i class="fa fa-calendar-plus-o" style="font-size:1.3rem" aria-hidden="true"></i>
								<span class="d-none d-sm-inline px-2"
									  style="font-size:1.1rem">Справочник лекарств</span>
							</a>
						</li>
					</ul>
				</div>
			</aside>
			<main class="col overflow-auto h-100">
				<div class="bg-light border rounded-3 p-3">
					<h4>More content...</h4>
					<p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown gluten-free
						Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably haven't heard of
						them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes
						Anderson semiotics, cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy
						leggings +1 direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
						forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party
						Portland.</p>
					<hr />
<div class="col py-3 container mt-5">
	<h3>Справочник препаратов</h3>
	<table class="table table-striped w-auto border-dark">
		<tr>
			<th>Наименование</th>
			<th>Производитель</th>
			<th>Дозировка, мг</th>
			<th>Категория</th>
			<th>Форма</th>
			<th>
				<a th:href="@{/add_medicine(id=${medicine})}">
					<i class="fa fa-plus" style="color: #4CAF50" aria-hidden="true" title="Добавить препарат"></i></a>
			</th>
		</tr>
		<tbody>
		<tr th:each="medicine: ${medicines}">
			<td th:utext="${medicine.name}"></td>
			<td th:utext="${medicine.manufacturer}"></td>
			<td th:utext="${medicine.dosage}"></td>
			<td th:utext="${medicine.category.name}"></td>
			<td>
				<label th:if="${medicine.dosageForm!=null}" th:utext="${medicine.dosageForm.form}"></label>
			</td>
			<td id="button">
				<div th:id="'infPopup'+${medicine.id}" class="infPopup">
					<div class="infPopup_body">
						<div class="infPopup__content">
							<a href="#" class="infPopup_close">
								<i class="fa fa-times" style="color: black" aria-hidden="true" title="Закрыть"></i></a>
							<div class="infPopup__title" th:utext="${medicine.name+' '+medicine.dosage+'мг '+'('+medicine.dosageForm.form+')'}"></div>
							<label class="p-3" style="font-size: 20px">Описание:</label><br>
							<div class="infPopup__text">
								<p  th:utext="${medicine.description}" th:value="${medicine.id}"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<a th:href="'#infPopup'+${medicine.id}"><i class="fa fa-info-circle"
											   style="color: #4CAF50"
											   aria-hidden="true"
											   title="Описание препарата"></i></a>
					</div>

					<div class="col-3">
						<a th:href="@{/update_medicine(id=${medicine.id})}"><i class="fa fa-pencil" style="color: black"
																			   aria-hidden="true"
																			   title="Редактировать"></i></a>
					</div>
					<div class="col-3">
						<a th:href="@{/delete_medicine(id=${medicine.id})}"><i class="fa fa-trash-o"
																			   style="color: black" aria-hidden="true"
																			   title="Удалить"></i></a></div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>