<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Os</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <style>
        .container{
            width:30%;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <form th:method="POST" th:action="@{/update_medicine}" th:object = "${medicine}">
        <div class="mb-3">
            <label for="category" class="form-label">Категория</label>
            <select class="form-select" aria-label="Category" id="category" name="category" required>
                <option></option>
                <th:block th:each="category:${categories}">
                    <option th:utext="${category.name}" th:value="${category.id}"></option>
                </th:block>
            </select>
        </div>
    <div class="mb-3">
            <input type="text" id="id" th:field="*{id}" hidden>
            <label for="name" class="form-label">Редактирование препарата</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
    </div>
        <div class="mb-3">
            <label for="manufacturer" class="form-label">Производитель</label>
            <input type="text" class="form-control" id="manufacturer" th:field="*{manufacturer}">
        </div>
        <div class="mb-3">
            <label for="dosage" class="form-label">Дозировка, мг</label>
            <input type="number" class="form-control" id="dosage" th:field="*{dosage}">
        </div>
        <div class="mb-3">
            <label for="dosageForm" class="form-label">Форма выпуска</label>
            <select class="form-select" aria-label="DosageForm" id="dosageForm" name="dosageForm" required>
                <option></option>
                <th:block th:each="dosageForm:${dosageForm}">
                    <option th:utext="${dosageForm.form}" th:value="${dosageForm.id}" ></option>
                </th:block>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <input type="text" class="form-control" id="description" th:field="*{description}">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a class="btn btn-secondary" th:href="@{/medicines}" th:text="Отмена"></a>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>